body {
    color: black;
    background: white;
    font-family: Verdana, Arial, Helvetica, sans;
    font-size: 11px;
    margin: 40px;
}

div.title {
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 5px 0px;
    border-color: #000000;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    text-align: right;
}

div.footer {
    font-style: italic;
    font-size: 9px;
    margin: 20px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    color: #CCCCCC;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
}

div.footer a {
    color: #CCCCCC;
}

h1 {
    font-weight: bold;
    margin: 20px 0px 18px 0px;
    font-size: 12px;
}

h2 {
    font-weight: normal;
    font-style: italic;
    margin: 20px 0px 18px 0px;
    font-size: 11px;
}

p {
    margin: 18px 0px 18px 10px;
} 

dt {
    margin: 0px 0px 0px 10px;
}

dd {
    padding-top: 10;
    padding-bottom: 10;
}

hr {
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    margin: 20px 40px 20px 40px;
}

span.fixme {
    color: #FF0000;
}

pre {
    color: #006600;
    margin: 10px 0px 5px 40px;
    font-family: monospace;
    width: 75%;
    /*font-size: 10px;*/
    padding: 5px;
    background: #F5F5F5;
    border: 1px solid #DDDDDD;
    overflow: auto; 
}

code {
    color: #006600;
    font-family: monospace;
    /*font-size: 10px;*/
}

table tr td {
    font-size: 11px;
}